:root{
    --white: hsl(0, 100%, 100%);
    --light-grey: hsl(0, 0%, 94%);
    --soft-grey:hsl(0, 0%, 86%);
    --grey:hsl(0, 1%, 44%);
    --black: hsl(0, 0%, 0%);
    --purple: hsl(259, 100%, 65%);
    --red:hsl(0, 100%, 67%);
}